<div id="footer" class="panel" style="margin-bottom: 0px;position: sticky;bottom: 0;">
  <div class="panel-footer" style="padding-top: 1px;">
	<div class="container-fluid">
	  <div class="row" style="display: flex;
    justify-content: center;height: 35px;">
		<div class="col-sm-4" style="text-align: center;">
		  <p>&copy 2024 USTC Combinatorics Group. <br><a href="{{ site.url }}{{ site.baseurl }}/feed.xml">Subscribe RSS</a></p>
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
