<div id="footer" class="panel" style="margin-bottom: 0px;">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row" style="display: flex;
    justify-content: center;">
		<div class="col-sm-4" style="text-align: center;">

		  <p>&copy 2023 USTC Combinatorics Group. <a href="{{ site.url }}{{ site.baseurl }}/feed.xml">Subscribe RSS</a></p>
              


		   <p>  </p><p>


		</div>
		
		
	  </div>
	</div>
  </div>
</div>

<script src="{{ site.url }}{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
