
<div>
<!--<ul>
<font size="4">Sorted by years:</font>
<a href="#2022">2022</a>
</ul>-->

{% assign postsByYear =
    site.data.seminar | group_by_exp:"seminar","seminar.year | year: '%Y'" %}
{% assign nyear = 2022 %}

{% for year in postsByYear %}
  <font size="5"><strong>{{ year.name }}</strong></font>
<ul id="{{ year.name }}">

       {% for publi in year.items %}
       {% if publi.highlight  == 0 %}
<li>
<font>{{ publi.date }}: {{ publi.speakers }}</font><br />
<strong>{{ publi.title }}{% if publi.videolink %} <a href="{{ publi.videolink }}">video</a>{% endif %}</strong> <br />
  <details>
<summary><font color="#6d9eeb"><u>Abstract(Click to expand)</u></font></summary>
{{ publi.abstract }}
</details>
<hr />
</li>
      {% endif %}
      {% endfor %}
       
   
</ul>

{% endfor %}

</div>
