
<div class="well">
{% if site.data.ForthcomingTalks %}
<h4>Upcoming Talks</h4>

<ul>
{% for ftalk in site.data.ForthcomingTalks %}
<li class="company" style="list-style-type: circle;">{{ ftalk.info }}</li>
{% endfor %}
</ul>
{% endif %}

<h4>Talks</h4>

{% for talk in site.data.seminar limit:1 %}
<p><font size="4" color="green">{{ talk.date }}: {{ talk.speakers }}</font><br><strong>{{ talk.title }}</strong><br><strong><em>Abstract: </em></strong>{{ talk.abstract }}<br>{{ talk.meeting.room }}<br>{{ talk.meeting.password }}</p>
{% endfor %}

<h4><a href="{{ site.url }}{{ site.baseurl }}/seminar">... see all Talks</a></h4>
</div>
