
<div class="well">
{% if site.data.ForthcomingTalks %}
<h4>Upcoming Talks</h4>

<ul>
{% for ftalk in site.data.ForthcomingTalks %}
<li class="company" style="list-style-type: circle;">{{ ftalk.info }}</li>
{% endfor %}
</ul>
{% endif %}

<h4>Talks</h4>

{% for talk in site.data.seminar limit:2 %}
<font size="4" color="green">{{ talk.date }}: {{ talk.speakers }}</font><br><strong>{{ talk.title }}</strong><br /><details>
<summary><font><u>Abstract(Click to expand)</u></font></summary>
{{ talk.abstract }}
</details><strong>{{ talk.meeting.platform }} ID:&nbsp;</strong>{{ talk.meeting.room }}<br><strong>Passcode:&nbsp;</strong>{{ talk.meeting.password }}<hr />
{% endfor %}

<h4><a href="{{ site.url }}{{ site.baseurl }}/seminar">... see all Talks</a></h4>
</div>
