
<div class="well">
{% assign postsBytitle =
    site.data.seminar | group_by_exp:"seminar","seminar.title" %}
{% for item in postsBytitle %}
{% if item.name == "TBA" %}
{% assign tba = item.items %}
{% endif %}
{% endfor %}

{% if tba %}
<h4>Upcoming Talks</h4>

<ul>
{% for ftalk in tba %}
<li class="company" style="list-style-type: circle;">{{ ftalk.date }}, {{ ftalk.speakers }}. {{ ftalk.title }}.</li>
{% endfor %}
</ul>
{% endif %}

<h4>Talks</h4>

{% for talk in site.data.seminar offset:tba.size limit:2 %}
<font size="4" color="green">{{ talk.date }}: {{ talk.speakers }}</font><br><strong>{{ talk.title }}{% if talk.videolink %} <a href="{{ talk.videolink }}">video</a>{% endif %}{% if talk.slidelink %} <a href="{{ talk.slidelink }}">slides</a>{% endif %}</strong><br /><details>
<summary><font><u>Abstract(Click to expand)</u></font></summary>
{{ talk.abstract }}
</details><strong>{{ talk.meeting.platform }}:&nbsp;</strong>{{ talk.meeting.room }}<br>{% if talk.meeting.password %}<strong>Passcode:&nbsp;</strong>{{ talk.meeting.password }}<br>{% endif %}{% if talk.news2 %}{{ talk.news2 }}{% endif %}<hr />
{% endfor %}

<h4><a href="{{ site.url }}{{ site.baseurl }}/seminar">... see all Talks</a></h4>
</div>
